.header {
  width: 98.5%;
  height: 5rem;
  display: flex;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-between;
  background-color: rgb(62, 97, 138);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 1rem;
}

.header a {
  text-decoration: underline;
  font-size: 25px;
  color: #f8f8f8;
  padding-right: 15px;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  text-decoration: underline;
  font-size: 25px;
  color: #f8f8f8;
  padding-right: 15px;
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: rgb(54, 83, 117);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownMenu li {
  padding: 10px;
}

.dropdownActive .dropdownToggle {
  background-color: #3498db;
  color: #fff;
}

.dropdownActive .dropdownMenu {
  display: block;
}



